{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- 修改图标路径为images/tb/目录 -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/tb/apple-touch-icon.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/tb/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/tb/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/tb/web-app-manifest-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/tb/site.webmanifest"/>
<link rel="icon" href="{{ base_path }}/images/tb/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
